 body{

  background-color: #efefef;
  width: 100%;
  height: 100%;

}



.title{
  width: 75%;
  border-bottom-style: double;
  border-color: white;
  border-width: 10px;
  font-size: 28px;
  margin-left: 15%;
  text-align: center;
  margin-top: 100px;
}

h1{

  margin-left: 50px;
  /* margin-top: -50px; */
/*   letter-spacing: 5px; */
}

.intro{

  font-size: 26;
  margin-left: 15%;
  width: 75%;
  text-align: center;
  border-bottom-style: double;
  border-color: gray;
/*   border-radius: 10px; */
/*   padding: 7.5px; */
/*  background-image: linear-gradient(to bottom right, white, gray); */
/*  color: white; */

}

h2{
  font-weight: normal;
/*   letter-spacing: 2px; */
  line-height: 50px;
  text-align: center;
  width: 85%
  margin-left:15%
}

span{

  font-size: 16;
}

/*
div.mapTitle{
  display: flex;
  align-items: center;
  width: 85.5%;
  border-style: double;
  border-color: white;
  border-width: 8px;
  font-size: 22px;
  margin-left: 75px;
  margin-top: 25px;
  text-align: center;

}
*/
.originText{

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* margin-left: 15%; */
  margin: auto;
}

.originText h2{

  width: 75%
}

.destinText{
  position: relative;
  width: 75%;
  margin-left: 15%;
  margin-top: 20px;
  border-top-style: double;
  border-color: gray;
}


.svgSource{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  /* width:100%; */
  /* height: 600px; */
  /* background-color: #cccccc; */
  /* margin-top: 20px; */
  /* margin-left: 5%; */
 /* border-style: dashed;
  border-color: #bbbbbb; */

}

.svgDest{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  /* width:100%; */
  /* height: 600px; */
  /* background-color: #cccccc; */
  /* margin-top: 20px; */
  /* margin-left: 5%; */
 /* border-style: dashed;
  border-color: #bbbbbb; */

}

svg.source, svg.destination{

  background-color: #e1e3e3;
  border-radius: 50px;
}


/* svg.destination{
  display: flex;
  margin: auto;
  width:100%;
  height: 600px;
  background-color: #cccccc;
  margin-top: 20px;
  margin-left: 5%;
} */

.line {
  fill: none;
  stroke: none;
  stroke-width: 1px;
  stroke-linecap: round;

}

.source{

  fill: red;
  stroke: white;

}

.destination{

  fill: #056bfa;
  stroke: white;

}

div.dataSource{

  font-size: 20px;
  margin-left: 15%;
  margin-bottom: 25px;
  border-top-style: double;
  border-color: gray;
  margin-top: 20px;
  width: 75%;
  text-align: center;
}
